a{
  text-decoration: none !important;
  color: inherit !important;
}
.card {
  border-radius: 50%;
}

.offer-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.offer-card:hover {
  transform: scale(1.05);
}